* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}


.cont {
    max-width: 1667px;
    width: 100%;
    margin: 0 auto;

}

.katta_div{

    background: #251928;
}



.hdr_nav {
    padding-top: 20px;
    background-image: url(./imgs/Blurr\ effect.png);
    background-repeat: no-repeat;
    background-position-x: 740px;    




    nav {
        display: flex;
        align-items: center;

        ul {
            gap: 64px;
            display: flex;
            list-style: none;
            padding: 0 161px 0 563px;

            a {
                text-decoration: none;
                font-size: 18px;
                color: white;


            }
        }

        button {
            width: 195px;
            height: 64px;
            font-size: 18px;
            color: #FFCE4E;
            background: none;
            border: 1px solid;







        }
    }

    header {
        display: flex;
        .hdr_lft {
            h1 {
                margin-bottom: 87px;
                margin-top: 171px;
                font-size: 85px;
                color: white;


                span {
                    color: #FFCE4E;
                }
            }

            button {
                width: 257px;
                height: 84px;
                font-size: 28px;
            }

            .explr {
                background: #FFCE4E;
                border: none;
                font-weight: 600;
            }

            .crt {
                background: none;
                border: 1px solid #FFCE4E;
                font-weight: 600;
                color: white;
                margin-left: 48px;
            }

            .cards{
                margin-top: 121px;
                display: flex;
                gap: 103px;
                h2{
                    font-size: 62px;
                    color: white;

                }

                p{
                    font-size: 24px;
                    color: #9B9E9A;
                }
            }
        }

        .hdr_rght{
            margin-top: 142px;
            margin-left: 89px;
            padding-bottom: 103px;

        }
    }



}


.wrap{
    display: flex;
    justify-content: space-around;
    margin-top: 182px;
}