* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


.cont {
    max-width: 1367px;
    width: 100%;
    margin: 0 auto;

}

.katta_div {

    background: #251928;
}



.hdr_nav {
    padding-top: 20px;
    background-image: url(./imgs/Blurr\ effect.png);
    background-repeat: no-repeat;
    background-position-x: 740px;




    nav {
        display: flex;
        align-items: center;

        ul {
            gap: 64px;
            display: flex;
            list-style: none;
            padding: 0 161px 0 563px;

            a {
                text-decoration: none;
                font-size: 18px;
                color: white;


            }
        }

        button {
            width: 195px;
            height: 64px;
            font-size: 18px;
            color: #FFCE4E;
            background: none;
            border: 1px solid;







        }
    }

    header {
        display: flex;

        .hdr_lft {
            h1 {
                margin-bottom: 87px;
                margin-top: 171px;
                font-size: 85px;
                color: white;


                span {
                    color: #FFCE4E;
                }
            }

            button {
                width: 257px;
                height: 84px;
                font-size: 28px;
            }

            .explr {
                background: #FFCE4E;
                border: none;
                font-weight: 600;
            }

            .crt {
                background: none;
                border: 1px solid #FFCE4E;
                font-weight: 600;
                color: white;
                margin-left: 48px;
            }

            .cards {
                margin-top: 121px;
                display: flex;
                gap: 103px;

                h2 {
                    font-size: 62px;
                    color: white;

                }

                p {
                    font-size: 24px;
                    color: #9B9E9A;
                }
            }
        }

        .hdr_rght {
            margin-top: 142px;
            margin-left: 89px;
            padding-bottom: 103px;

        }
    }



}


.wrap {
    display: flex;
    justify-content: space-around;
    margin-top: 182px;
}

.cards_2{
    display: flex;
    gap: 42px;
    .card {
        width: 495px;
        background: #3D2942;
        padding: 32px;
    
    
        .info {
            display: flex;
            align-items: center;
            margin-top: 28px;
            margin-bottom: 28px;
    
            .vart {
                padding-left: 16px;
    
                h4 {
                    font-size: 22px;
                    color: white;
    
    
                }
    
                p {
                    font-size: 18px;
                    color: #9B9E9A;
                    line-height: 20px;
                }
    
            }
    
            .like {
                display: flex;
                padding-left: 209px;
    
                img {
                    width: 22px;
                    height: 20px;
    
                }
    
                p{
                    font-size: 17px;
                    color: #76607A;
                    padding-left: 5px;
    
    
                }
            }
    
        }
    
        .bird {
            display: flex;
            margin-bottom: 30px;
    
            h4{
                padding-left: 275px;
                font-size: 14px;
                color: white;
    
            }
    
            p{
                font-size: 17px;
                color: #C6BFC8;
    
    
            }
        }
    
        button{
            width: 431px;
            height: 78px;
            background: #4E3A4C;
            border: 1px solid #FDE8B3;
            font-size: 19px;
            color: white;
    
    
        }
    }

}


.live{
    text-align: center;
    font-size: 42px;
    color: white;
    background-image: url(./imgs/circle.png);
    background-repeat: no-repeat;
    background-position: 409px;
    margin-top: 184px;
    margin-bottom: 84px;


}